@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit), ui-sans-serif, system-ui, sans-serif;
  
  --color-matcha-50: #FCFDF7;
  --color-matcha-100: #F2F7E6;
  --color-matcha-200: #E1ECC8;
  --color-matcha-300: #C9DE9E;
  --color-matcha-400: #ABCD73;
  --color-matcha-500: #88AB46;
  --color-matcha-600: #688832;
  --color-matcha-900: #1A2E05;
}

:root {
  --background: var(--color-matcha-50);
  --foreground: var(--color-matcha-900);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Lenis Recommended Styles */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
